[submodule "extern/gdfe"]
	path = extern/gdfe
	url = https://github.com/niooii/gdfe.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/vma"]
	path = extern/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "extern/entt"]
	path = extern/entt
	url = https://github.com/skypjack/entt.git
[submodule "extern/hfsm2"]
	path = extern/hfsm2
	url = https://github.com/andrew-gresyk/HFSM2.git
[submodule "extern/ser20"]
	path = extern/ser20
	url = https://github.com/royjacobson/ser20.git
